body {
    background: #2A91EE;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


#navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 8px 0px 0px #276CC9;
    overflow: hidden;
    justify-content: center;
}

#navbar .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#navbar .navButtons {
    display: flex;
    align-items: right;
}

#logo {
    color: #000;
    font-family: 'Silkscreen', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px;
}

#home {
    text-decoration: none;
}

#navbar .navButtons a {
    float: right;
    text-align: center;
    padding: 12px 25px;
    margin: 15px;
    font-size: 18px;
    
    color: #000;
    border: 10px solid #2E316C;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #276CC9;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
    
#navbar .navButtons a:hover {
    box-shadow: 3px 3px 0px 0px #276CC9;
    transform: translate(5px, 5px)
}

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 74px;
    gap: 74px;
    align-items: center;
}

.frame, .footerColumn{
    padding: 6% 7%;
    align-items: center;
    justify-content: center;
}
.frame {
    grid-column: span 3;
    width: 85%;
    height: 85%;
    margin: auto;
    position: relative;
    border: 10px solid var(--Edge-Blue, #2E316C);
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #276CC9;
}

.frame p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame h1 {
    align-self: stretch;
    color: #000;
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.frame h2 {
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero {
    /* padding: 0; */
    background-color: #9BE9FF;
}

.hero img {
    width: 100%;
    height: 100%;
    padding: 0 0;
    object-fit: cover;
}

.skills {
    grid-column: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.skills-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.skills-title h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 28px;
    text-align: left;
}

.skills-title img {
    padding: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.skills p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.project .projectTitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.75); /* Semi-transparent background */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; /* Add a transition for smooth reveal */
}

.projectTitle h2 {
    font-size: 38px;
}

.projectTitle p {
    color: #888
}

.project:hover .projectTitle{
    opacity: 1; /* Reveal the overlay on hover */
}

#footer {
    width: 100%;
    margin: 0 auto;
    background: #2E316C;
    align-items: center;
    justify-content: center;
}
.footerRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
}

#footer h2 {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer h3 {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

#footer p {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer a {
    color: var(--Background-Blue, #FFF);
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .content {
        grid-template-columns: 1fr;
    }
    #navbar .navButtons {
        display: none;
    }
    .frame {
        width: 95%;
        margin: auto;
    }
    .footerRow {
        grid-template-columns: 1fr;
    }
    .skills {
        grid-column: span 3;
    }
}

@media (max-width: 1200px) {
    .content {
        justify-content: center;
    }
    #logo {
        font-size: 44px;
    }
    #navbar .navButtons a {
        padding: 8px 17px;
        margin: 10px;
        font-size: 14px;
        
        color: #000;
        border: 8px solid #2E316C;
        background: #FFF;
        box-shadow: 6px 6px 0px 0px #276CC9;
    }
    .frame {
        width: 70%;
    }
    .frame p {
        font-size: 18px;
    }
    .frame h1 {
        font-size: 32px;
    }
    .frame .skills {
        width: 85%;
        padding: 5%;
    }
    .skills-title h2 {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .skills-title img {
        padding: 20px;
        padding-right: 10px;
    }
    
    .skills p {
        font-size: 16px;
    }
}